<footer class="footer">
    <div class="footer-content">
        <div class="outro">
            <h3>E-Library</h3>
        </div>

        <div class="footer-links">
            <h4>Links</h4>
            <a href="/index.html">Home</a>
            <a href="/pages/auth/login.html">Login</a>
            <a href="/pages/about.html">About</a>
            <a href="/pages/contact.html">Contact</a>
        </div>

        <div class="categories-links">
            <h4>Categories</h4>
            <a href="/pages/category.html?type=fiction">Fiction</a>
            <a href="/pages/category.html?type=non-fiction">Non-fiction</a>
            <a href="/pages/category.html?type=science">Science</a>
            <a href="/pages/category.html?type=history">History</a>
        </div>
        <div class="newsletter">
            <h4>Newsletter</h4>
            <p>Subscribe to get the latest updates on new books and features.</p>
            <input type="email" class="input" placeholder="Your email address">
        </div>
    </div>
    <p class="copyright">© 2026 E-Library</p>
</footer>
